body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.border {
    position: relative;
    color: #006080;
    border-bottom: 1px dotted #000;
}
.border::after {
    content: '';
    display: none;
    border: 10px solid transparent;
    border-top-color: #555;
    position: absolute;
    left: 0;
    top: -15px;
}
.border::before {
    content: 'Tooltip text';
    display: none;
    width: 80px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #555;
    color: #fff;
    position: absolute;
    left: -30px;
    top: -60px;
}
.border:hover.border::after,
.border:hover.border::before {
    display: inline-block;
}
.border:nth-of-type(2)::after {
    right: -20px;
    top: 3px;
    border-top-color: transparent;
    border-right-color: #555;
}
.border:nth-of-type(2)::before {
    top: -10px;
    left: 54px;
}
.border:nth-of-type(3)::after {
    bottom: -20px;
    left: 15px;
    border-top-color: transparent;
    border-bottom-color: #555;
}
.border:nth-of-type(3)::before {
    top: 43px;
    left: -30px;
}
.border:nth-of-type(4)::after {
    left: -20px;
    top: 3px;
    border-top-color: transparent;
    border-left-color: #555;
}
.border:nth-of-type(4)::before {
    top: -10px;
    left: -141px;
}